<%- include('header') -%>
    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOG41a3Jqb2l3cmZ2djIybjU3eHNjZDIweXFqejkyZm1kZ3o4OXB6diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fCYCnpYmxk5uelomYI/giphy.gif"
        class="grande" />
    <img src="img/productos-tecnológicos-Revista-Economia.gif" class="grande" />
    <p>100$</p>
    <button type="button" class="btn btn-outline-success mx-auto d-block  success w-100">Compra</button>
    <button type="button" class="btn btn-outline-warning mx-auto d-block  success w-100">cashea</button>
    <img src="img/Televisor.jpg" class="grande" />
        <p>200$</p>
        <button type="button" class="btn btn-outline-success mx-auto d-block  success w-100">Compra</button>
        <button type="button" class="btn btn-outline-warning mx-auto d-block  success w-100">cashea</button>
    

    <img src="img/tecnologia.jpg" class="grande" />
    <%- include('footer') -%>